:root {
  /* ## Front-end Style Guide */

  /* ## Layout */

  /* The designs were created to the following widths: */

  --Mobile: 375px;
  --Desktop: 1440px;

  /* ## Colors */

  /* ### Primary */

  /* (intro and email sign up background) */
  --DarkBlueIntro: hsl(217, 28%, 15%);
  /* (main background) */
  --DarkBlueMain: hsl(218, 28%, 13%);
  /* (footer background) */
  --DarkBlueFooter: hsl(216, 53%, 9%);
  /* (testimonials background) */
  --DarkBlueTestimonials: hsl(219, 30%, 18%);

  /* ### Accent */
  /* (inside call-to-action gradient) */
  --Cyan: #65e2d9;
  /* (inside call-to-action gradient) */
  --Blue: #339ecc;
  /* Red (error) */
  --Light: #ff4242;

  /* ### Neutral */

  --White: #ffffff;

  /* ## Typography */

  /* ### Body Copy */

  --FontSize: 14px;

  /* ### Headings, Call-to-actions, Header Navigation */

  --FamilyHeader: "Raleway", sans-serif;

  /* ### Body */

  --FamilyBody: "Open Sans", sans-serif;

  /* ## Icons */

  /* For the social icons, you can use a font icon library. Some suggestions can be found below: */

  /* 
 [Font Awesome](https://fontawesome.com/)
 [IcoMoon](https://icomoon.io/)
 [Ionicons](https://ionicons.com/) 
 */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: var(--DarkBlueFooter);
}
.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 5%;
  z-index: 999;
}
.navImg {
  height: 33px;
}
.menuLinks {
  display: flex;
}
.menuLinks li {
  list-style: none;
}
.navLink {
  font-size: 18px;
  margin: 0 1em;
  font-family: var(--FamilyHeader);
  color: #ffffffd5;
  text-decoration: none;
  transition: 0.4s;
  white-space: nowrap;
}
.navLink:hover {
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
}

/* Header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 0 6em;
  background: linear-gradient( to top, var(--DarkBlueMain) 28%, var(--DarkBlueIntro) 31% );
  font-family: var(--FamilyHeader);
  overflow: hidden;
}
.header__ContentWave {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header__img {
  width: 28em;
  margin: 40px 0;
  z-index: 50;
}
.header__wave {
  position: absolute;
  bottom: -50%;
  width: 100%;
  z-index: 10;
}
.header__title {
  width: 360px;
  font-size: 1.7em;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  line-height: 43px;
  z-index: 10;
}
.header__parrafo {
  width: 410px;
  font-size: 1.2em;
  letter-spacing: 0.3px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin: 20px 0 45px;
  z-index: 10;
}
.button {
  position: relative;
  z-index: 10;
  font-size: 1.35em;
  font-weight: 700;
  height: 72px;
  width: 300px;
  border: none;
  border-radius: 35px;
  background: linear-gradient(270deg, var(--Blue), var(--Cyan));
  color: #fff;
}
.button::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgb(140, 218, 228);
  opacity: 0;
  z-index: -1;
  border-radius: 35px;
  transition: 0.4s;
}
.button:hover::before {
  opacity: 1;
}

/* Main */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--DarkBlueMain);
  font-family: var(--FamilyBody);
  color: #fff;
}
.article {
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 4.5em 0;
}
.article > img {
  width: auto;
  height: 137px;
}
.article h3 {
  font-size: 1.55em;
  margin: 1.5em 0 0.7em 0;
  font-family: var(--FamilyHeader);
}
.article p {
  font-size: 1.1em;
  letter-spacing: 0.7px;
  line-height: 25px;
}
#ultimate {
  margin-top: 5em;
  text-align: start;
  align-items: center;
  justify-content: center;
}
#ultimate .illustration {
  height: auto;
  width: 100%;
}
#ultimate .arrow {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid var(--Cyan);
  transition: 0.4s;
}
#ultimate .ultimate__h3 {
  letter-spacing: 1px;
  font-size: 2.3em;
  margin: 5px 0;
}
#ultimate .link-arrow {
  text-decoration: none;
  color: var(--Cyan);
  padding-bottom: 10px;
  font-size: 1.1em;
}
#ultimate .img-arrow {
  margin-left: 12px;
  height: 35px;
  padding-bottom: 10px;
}
#ultimate .arrow:hover,
#ultimate .arrow:hover .link-arrow,
#ultimate .arrow:hover .img-arrow {
  transform: scale(1.04);
}
/* Section (Comments) */
.section {
  background-color: var(--DarkBlueMain);
  color: #ffffffd5;
  padding: 10em 0 26em;
  font-family: var(--FamilyBody);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 443px;
  position: relative;
  background-color: var(--DarkBlueTestimonials);
  padding: 35px 30px 30px;
  box-shadow: 0 0 10px hsla(219, 30%, 18%, 0.507);
  border-radius: 5px;
  margin: 0 1.35em 2.5em;
}
.card__comillas {
  position: absolute;
  top: -27px;
  left: 5px;
  height: 27px;
}
.card p {
  line-height: 30px;
  font-style: var(--FontSize);
}
.perfil {
  display: flex;
  align-items: center;
  margin: 20px 0 9px;
}
.perfil img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.perfil__nombre h5 {
  color: #fff;
  font-size: 1.04em;
  letter-spacing: 1.5px;
}

/* Formulario */
.box-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--DarkBlueFooter);
  font-family: var(--FamilyBody);
  text-align: center;
  padding: 2em 0;
}
.form {
  width: 469px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--DarkBlueIntro);
  color: #fff;
  padding: 45px 40px;
  border-radius: 5px;
  margin-top: -250px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.36);
}
.form h4 {
  font-size: 1.7em;
}
.form p {
  font-size: 1.16em;
  width: 100%;
  margin: 18px 0 14px;
}
.form .inputs {
  position: relative;
  width: 100%;
}
.form #input {
  font-size: 16px;
  padding: 0;
  border-radius: 35px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  height: 60px;
  padding-left: 7%;
}
.fa-check-circle {
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: green;
  z-index: -1;
}
.valido {
  z-index: 10;
}
.form #btn-form {
  padding: 0;
  white-space: nowrap;
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
.input-error {
  visibility: hidden;
  width: 100%;
  text-align: start;
  padding-left: 8%;
  color: #ff3333;
  margin-top: 5px;
}
.invalido {  
  visibility: visible;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: self-start;
  column-gap: 71px;
  font-family: var(--FamilyBody);
  background-color: var(--DarkBlueFooter);
  color: #fff;
  padding: 2.6em;
}
.footer__logo {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 2em;
  width: 13em;
}
.footer__more {
  display: flex;
  justify-content: start;
  align-items: baseline;
  font-size: 17px;
  margin-bottom: 25px;
}
.footer__more.phone {
  flex-wrap: wrap;
  margin-bottom: 5em;
}
.footer__more__flex {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.footer__more i {
  margin-right: 20px;
}
.footer__more__parrafo {
  width: 320px;
}
.footer__ul {
  margin-bottom: 3em;
}
.footer__ul2 {
  margin-bottom: 7em;
}
.footer__ul li {
  margin-bottom: 16px;
  list-style-type: none;
}
.footer__ul a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Social Links */
.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #fff;
  border: 1.6px solid #fff;
  border-radius: 50%;
  padding: 17px;
  text-decoration: none;
  font-size: 18px;
  margin: 0 6px;
  transition: 0.4s;
}
.facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
}
.twitter:hover {
  color: #00acee;
  border-color: #00acee;
}
.instagram:hover {
  color: #e1306c;
  border-color: #e1306c;
}

@media (min-width: 1200px) {
  .header {    
    background: linear-gradient( to top, var(--DarkBlueMain) 10%, var(--DarkBlueIntro) 20% );
  }
  .header__wave {
    bottom: -104%;
  }
  .header__title {
    width: 500px;
  }
  .header__parrafo {
    width: 580px;
  }
  .main {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .article {
    margin: 4.5em 45px;
  }
  #ultimate {
    width: 90%;
    flex-direction: row;
  }
  #ultimate .illustration {
    width: 55%;
    padding-right: 50px;
  }

  .form {
    width: 64%;
    margin-top: -185px;
  }
  .form #input {
    margin: 20px 19px 0 0;
    width: 65%;
  }
  .form .fa-check-circle {
    top: 38px;
    right: inherit;
    left: 60%;
  }
  .form #btn-form {
    font-size: 1.1em;
    padding: 0;
    width: 30%;
  }

  .footer {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer__more__flex {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }
}
@media (max-width: 466px) {
  .navLink {
    font-size: 16px;
    margin: 0 6px;
  }
  .navLink:hover {
    font-size: 17px;
  }
  .header {
    padding-left: 13px;
    padding-right: 13px;
    background: linear-gradient( to top, var(--DarkBlueMain) 46%, var(--DarkBlueIntro) 50% );
  }
  .header__img {
    width: 21em;
    margin: 41px 0 10px
  }
  .header__wave {
    bottom: -33%;
    width: 110%;
  }
  .header__title {
    width: auto;
  }
  .header__parrafo {
    width: auto;
    letter-spacing: 0;
  }
  .button {
    width: 88%;
  }
  .article {
    width: auto;
    margin-left: 17px;
    margin-right: 15px;
  }
  .form {
    padding: 40px 26px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer__more__parrafo {
    width: auto;
  }
}
